# Site settings
site: 양사장의 끄적끄적
title: 양사장의 끄적끄적
keywords: web,blog,webpublish
description: >-
  코린이의 메모장
lang: ko
timezone: asia/Seoul
repo: https://github.com/drrd100/drrd100.github.io # site repo [optional]
google_verify: # Put your Google Verification here
google_analytics: # Put your Google Analytics code
discus-identifier:

# Author settings
author:
  name: 양사장의 끄적끄적
  bio: Cook 11년<br>Web dev 1년
  picture: assets/images/profile.jpg
  #github: onepase # github username
  #twitter: onepase # twitter username
  #facebook: onepase # facebook username
  instagram: https://www.instagram.com/__.yeol.__/?hl=ko # instagram username
  #youtube: https://www.youtube.com/channel/UCMmAto-wxBootXN91AzBiDg # youtube username
  #linkedin: hakantorun # linkedin username
  email: hyynag@jjbncorp.com # email adress

# URL settings
url: "https://drrd100.github.io/" # Domain Name of host. [username].github.io for github pages
baseurl: "" # sub folder for jekyll site. only if jekyll site not in root of host. leave blank if not wishd. always add / in front.
permalink: pretty

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links
paginate: 20
paginate_path: "/page/:num"

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:slug

defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled: true
  collections: false
